body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
    background-image: url("images/table.png");
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    border: none;
    padding: 5px 0;
    border-radius: 2px;
    margin: 2px 0;
}